  /* Background image in motion, imported as an svg */
  body{
    background-color:rgb(135, 247, 255) ;
  }
  .motion-wrapper {
    background-color: rgb(194, 250, 255);
    display: grid;
    /* height: 100%; */
    place-items: center;
    position: relative;
    animation: colorShift 7s infinite;
  }
  .motion-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(64, 150, 158);
    font-size: 50px;
    width: 80%;
    }
    svg{
    max-width: 400px; 
    }
  /* Animation for top circle */
  #k-letter{
    animation: color-shift-top 7s infinite;
}


  @keyframes color-shift-top{

        0%, 100%{
            fill:rgb(212, 44, 44);
            }
            50%{
                fill:rgb(255, 141, 215);
            }
        }


  /* Animation for middle circle */
  #star{
    animation: color-shift-middle 7s infinite;
}


  @keyframes color-shift-middle{

        0%, 100%{
            fill:rgb(44, 80, 212);
            }
            50%{
                fill:rgb(175, 13, 190);
            }
        }
    
  /* Animation for bottom circle */
  #divide{
    animation: color-shift-bottom 7s infinite;
}

  @keyframes color-shift-bottom{

        0%, 100%{
            fill:rgb(255, 180, 109)
            }
            50%{
                fill:rgb(249, 255, 60);
            }
        }
        #middle-circle{
            fill:yellow;
}  
/* settings for desktop */
@media only screen and (min-width: 800px) {
  
svg{
      max-width: 300px; /* Adjust maximum width for smaller screens */
  }
  }